*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: "Ubuntu", sans-serif;
scroll-behavior: smooth;

}
a{
    text-decoration: none;
}
@import "colors.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Tenor+Sans&family=Ubuntu:wght@300&display=swap');


.loader{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
svg{
    font-size: 15rem;
    color: $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: .3;
}
div{
    font-size: 3rem;
}
}